$main_theme_fill_icon: #DADADA;
$main_theme_bcg_color: #F4F4F4;
$main_theme_bcg_color_darker: #F6F6F6;
$main_theme_footer_btn-color: #C6C6C6;
$main_theme_font_color_light: #696969;
$main_theme_font_color_medium: #969696;
$main_theme_font_color_dark: #383838;
$main_theme_blue_color: #4270AD;
$main_theme_global_color: #e5e5e5;
$main_theme_icons_color: #DFDFDF;
$main_theme_white_color: #FFFFFF;
$main_theme_black_color: #000000;
$main_theme_orange_color: #FF9900;
$button_dark_orange: rgba(255, 153, 0, 0.3);
$button_hover_orange: #FFBE5B;
$button_active_orange: #D57F00;
$button_text_creamy: #969696;
$almost_black: rgba(247, 247, 247, 0);
$almost_white: rgba(247, 247, 247, 1);
$grey_line: #E6E6E6;
$grey_bcg: #F2F2F2;
$grey_icon: #CDCDCD;
$grey_path_bcg: #F8F8F8;
$grey_bcg_img: #E9E9E9;
$grey_reseach_bcg: #FCFCFC;
$light_grey_link: #ACACAC;
$light_grey_link-black: #7A7A7A;
$light_grey_filter: #ECECEC;
$grey_text_view: #9A9A9A;
$grey_decription_footer: #9F9F9F;
$box_shadow_light: rgba(0, 0, 0, 0.1);
$box_shadow_hover: rgba(0, 0, 0, 0.23);
$box_shadow_darker: rgba(0, 0, 0, 0.25);
$box_shadow_form-header: rgba(0, 0, 0, 0.15);
$box_shadow_extralight: rgba(0, 0, 0, 0.04);
$dark_input: #3F3F3F;
$grey_item_btn: #D5D5D5;
$brown_briefcase: #8C4C14;
$yellow_star: #FFD600;
$blue_profile: #5982B7;
$green_buy: #79B256;
$grey_decription_text: #666666;
$grey_label_text: #999999;
$red_arrow: #FF3232;
$grey_border_btn: #B4B4B4;
$grey_item: #F5F5F5;
$grey_item_hover: #C4C4C4;
$svg_fill: #C2C2C2;
$form_color_black: #353535;
$form_color_black_save_me: #373737;
$form_color_line: #E0E0E0;
$border_color_save_me: #D0D0D0;
$star_seller_color: #FFAE00;
$background-color-profile: #FBFBFB;
$color-add-description: #C5C5C5;
$color-text-description: #686868;
$color-text-more: #4270AD;
$color-tabs-text-comment: #AAAAAA;
$color-description-text-comment: #4D4D4D;
$color-btn-more-comment: #D3D3D3;
$color-title-new-comments: #5E5E5E;
$color-textarea-new-comments: #C0C0C0;
$border-color-new-comments: #DDDDDD;
$color-price-advert-value-text: #3A3A3A;
$color-btn-minus: #4D79B2;
$border-img-load: #BDBDBD;

$mobile-width: 320px;
$desktop-width: 1170px;


$fa-font-path: "../../webfonts" !default;
$fa-font-display: auto !default;
$main_theme_font: 'Roboto';

$padding_basic: 2% 115px;

$slider-item-color-indicators: #9e9e9e;
$slider-background-color: #ffffff;
$slider-two-background-color: #f5f5f5;
$slider-two-color: #616161;


/* ADMIN */



