.add-advert {
  background-color: transparent !important;

  .research__search {
    width: 100%;
    height: 100%;
  }


  .research__search-name {
    margin-bottom: 20px;
  }

  .research__search-wrapper {
    margin-bottom: 0 !important;
  }

  &__icon {
    color: $color-btn-minus;
    font-size: 16px;
    cursor: pointer;

    &-load {
      width: 100%;
      height: 100%;

      &-animation {
        width: 34px;
        height: 34px;
        margin-bottom: 10px;
        display: none;
        &--show{
          display: block;
        }
      }
    }

    &-delete {
      width: 29px;
      height: 29px;
      position: absolute;
      top: 7px;
      right: 10px;
      cursor: pointer;
      fill: $main_theme_white_color;
      display: block;
      padding: 8.37px 6.62px;
      border-radius: 50%;
      background-color: $red_arrow;

      &--red {
        fill: $red_arrow;
      }

      &--green {
        fill: $green_buy;
        color: #79b256;
        font-size: 12px;
      }
    }

    &-block {
      display: block;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      padding: 17.65px 18.38px 16.91px 19.61px;

      &--red {
        border: 1px solid $red_arrow;
      }

      &--delete {
        padding: 16px;
      }

      &--green {
        border: 1px solid $green_buy;
      }
    }
  }

  &__label {
    font-family: $main_theme_font;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    display: block;
    color: $form_color_black;
    margin-bottom: 12px;

    &--submit {
      width: 25px;

      &:before {
        margin-right: 0 !important;
        margin-left: 1px;
      }
    }
  }

  &__price-label {
    width: 100%;
  }

  &__price-check {
    display: flex !important;
    align-items: center;
    font-size: 16px;
    color: $main_theme_black_color;
    font-weight: normal;

    &:before {
      content: '';
      background: transparent url("../../img/icons/background.svg") center center no-repeat;
      width: 16px;
      height: 16px;
      margin-right: 9px;
    }
  }

  &__wrapper-price {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__checkbox:checked + .add-advert__price-check {
    &:before {
      content: '';
      background: transparent url("../../img/icons/check-block.svg") center center no-repeat;
      width: 18px;
      height: 16px;
      margin-right: 9px;
      fill: $green_buy;
    }
  }

  &__wrap {
    flex-wrap: wrap;
  }

  .prices__replace {
    display: none;
  }

  .prices__range {
    width: 100% !important;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  &__checkbox-block:checked ~ .add-advert__item-block {
    display: block !important;
  }

  &__list {
    margin-bottom: 20px;

    &-img {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__label-img {
    display: block;
    width: 42px;
    height: 43px;
    cursor: pointer;
  }


  &__item {
    margin-bottom: 20px;

    &-wrapper-load {
      width: 37px;
      text-align: center;
    }

    &-block {
      height: 124px;
    }

    &-percent {
      font-family: $main_theme_font;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: $main_theme_blue_color;
      display: none;
      &--show{
        display: block;
      }
    }

    &-not-line {
      border: none !important;
    }

    &-load {
      border: 1px $form_color_line solid !important;
      padding-top: 12px;
      padding-bottom: 14px;
    }

    &-img {
      width: 49%;
      height: auto;
      border: 1px dashed $border-img-load;
      box-sizing: border-box;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 14px;
      margin-right: 10px;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }

    }

    &:last-child {
      margin-bottom: 0;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    &-name {
      margin-bottom: 0;
    }

    &-block {
      display: none !important;
    }
  }

  &__input-link {
    font-family: $main_theme_font;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    color: $main_theme_black_color;

  }

  &__link {
    color: $main_theme_blue_color;
  }

  &__submit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__document-text {
    width: calc(100% - 25px);
  }

  &__ref-wrapper {
    max-width: 635px;
  }
}

@media (min-width: 400px) {
  .add-advert {
    &__item {
      &-img {
        width: 32%;

        &:nth-last-child(-n+3) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .add-advert {
    &__wrapper-summary {
      display: flex;
      justify-content: space-between;
    }

    &__checked-block {
      display: none;
    }

    &__wrapper-price {
      width: 170px;
      margin-bottom: 0;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      margin-bottom: 0;
      width: 24%;

      &-block {
        display: block !important;
      }
    }

    .research__prices {
      width: 390px;
    }

    &__weight {
      width: 270px !important;
    }

    .prices__replace {
      display: block;
      margin: 46px 5px 0 5px !important;
    }

    &__btn-submit {
      width: 131px;
      margin-bottom: 0;
    }

    &__wrap {
      margin-bottom: 20px !important;
    }
  }
}

@media (min-width: $desktop-width) {
  .add-advert {
    .prices__range {
      width: 170px !important;
    }

    .prices__form {
      width: 100% !important;
    }

    & > .research__search-name {
      width: 100% !important;
    }

    &__item {
      &-img {
        width: 170px;
        height: 109px;
      }

      &-load {
        padding-top: 28px;
        padding-bottom: 13px;
      }
    }

    &__submit {
      width: max-content;
      margin: 0 0 auto auto;
    }

    &__btn-submit {
      margin: 0 0 auto auto;
    }
  }
}