.admin-content{
  &__main{
    margin-bottom: 30px;
  }
  width: 100%;
  margin-left: 250px;
  padding: 35px 115px 0 65px;
  &__wrapper-btn{
    display: flex;
  }
  &__btn{
    padding: 8px 0px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    width: 169px;
    margin-right: 20px;
    box-shadow: 0px 10px 20px rgba(66, 112, 173, 0.12);
    border-radius: 5px;

    color: $main_theme_white_color;
    height: 30px;
    &:hover{
      color: rgba(255,255,255,0.1);
    }

    &--add{
      background-color: $color-text-more;
    }
    &--delete{
      background-color: $red_arrow;
    }
  }
}